button{
    padding:15px 40px;
    background-color: $blue;
    border:none;
    font-size: 15px;
    color:$white;
}
.btn3{
    background-color: $blue;
    border:none;
    font-size: 15px;
    color:$white;
    padding:10px 20px;
}